
#yape_title{
  font-size : 3em;
  margin-bottom: 20px;
}

#creerCompte{
  text-decoration: none;
  color : red;
  float : right;
}

#creerCompte:hover{
  text-decoration: underline;

}

#form-style-1 {
    margin:200px auto;
    max-width: 600px;
    padding: 20px 15px 12px 25px;
    font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#form-style-2 {
    margin-left: :200px;
    margin-right: :200px;
    margin-top: :20px;
    margin-bottom: :20px;
    max-width: 600px;
    padding: 20px 15px 12px 25px;
    font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.formshape li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.formshape label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.formshape input[type=text],
.formshape input[type=date],
.formshape input[type=datetime],
.formshape input[type=number],
.formshape input[type=search],
.formshape input[type=time],
.formshape input[type=url],
.formshape input[type=password],
.formshape input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 13px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.formshape input[type=text]:focus,
.formshape input[type=date]:focus,
.formshape input[type=datetime]:focus,
.formshape input[type=number]:focus,
.formshape input[type=password]:focus,
.formshape input[type=search]:focus,
.formshape input[type=time]:focus,
.formshape input[type=url]:focus,
.formshape input[type=email]:focus,
.formshape textarea:focus,
.formshape select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.formshape .field-divided{
    width: 49%;
}

.formshape .field-long{
    width: 100%;
}
.formshape .field-select{
    width: 100%;
}
.formshape .field-textarea{
    height: 100px;
}
.formshape input[type=submit], .formshape input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.formshape input[type=submit]:hover, .formshape input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.formshape .required{
    color:red;
}
